node_modules/
.env
lightcurves/
node_modules/
__pycache__/
.env
lightcurves/
node_modules/
__pycache__/
.env
lightcurves/
node_modules/
__pycache__/
.env
lightcurves/
node_modules/
__pycache__/
.env
lightcurves/
